<!DOCTYPE html>
<html ng-app="ike">
<head>
	<title>Angular JS Demo</title>
</head>
<body>
	<script src="/js/angular.min.js"></script>
	<script src="/js/ikeModule.js"></script>

	<h1>{{ "Hey bubbo" | uppercase }}</h1>
	<h2>{{ (5 * 5) | number:3 }}</h2>
	<ul>
		<li ng-if="1 < 2">One is less than two</li>
		<li ng-if="1 <= 2">One is less than or equal to two</li>
		<li ng-if="1 == 2">One is two</li>
		<li ng-show="1 == 1">One is one, ng-show</li>
	</ul>
	<H2>{{ "ng-repeat" }}</H2>
	<ol>
		<li class="stuff junk" ng-repeat="lettre in ['A', 'B', 'C', 'D', 'E', 'F']">{{ lettre }}</li>
	</ol>
	<ul>
    <li ng-repeat="num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" ng-if="num % 2 == 0">
        {{ num }} is even!
    </li>
</ul>
</body>
</html>